doctype html
html(lang='en')
	head
		title Linked
	body
		h1 Discussion
		form(action='/', method='post')
			label Start a new discussion
				input(type='text', name='topic')
			button(type='submit') Submit
		if topics
			each topic in topics
				h2.topics=topic.heading
					if topic.comments
						each comment in comments
							h3=comment
					h4
						form(action='/comment', method='get')
						label add comment
							input(type='hidden', name='topicNum')=topics.indexOf(topic);
							input(type='text', name='comment')
						button(type='submit') Submit

	